In [7]:
#### SETUP

## Depemdemcies

import pandas as pd
from os import path

# Define global variables
DATA_DIR = "C:/Users/Justin/Desktop/ltcwbb-files/data"

atbats = pd.read_csv(path.join(DATA_DIR, '2018-season', 'atbats.csv'))
                         
## Test
atbats.mean()
atbats.max()

C:\Users\Justin\AppData\Local\Temp\ipykernel_20044\1985749426.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  atbats.mean()

name        Zack Cozart
year               2018
stint                 2
team                WAS
lg                   NL
G                   162
AB                  664
R                   129
H                   192
2B                   51
3B                   12
HR                   48
RBI               130.0
SB                 45.0
CS                 14.0
BB                  130
SO                217.0
IBB                25.0
HBP                22.0
SH                 12.0
SF                 11.0
GIDP               23.0
playerID      zuninmi01
dtype: object

In [12]:
### Axis

#atbats[['G', 'AB', 'R', 'H', 'HR']].mean(axis=0)

# Inspect top rows
# bats[['G', 'AB', 'R', 'H', 'HR']].mean(axis=0).head()


atbats['1B'] = atbats['H'] - atbats[['2B', '3B', 'HR']].sum(axis=1)
atbats[['name', '1B']].head()

           name  1B
0    Jose Abreu  73
1  Ronald Acuna  71
2  Willy Adames  63
3    Matt Adams  37
4    Jim Adduci  34