In [1]:
import pandas as pd
from os import path

In [8]:
DATA_DIR= "C:/Users/Justin/Desktop/ltcwbb-files/data"

#### Load the data (2018 se4ason)

players = pd.read_csv(path.join(DATA_DIR, '2018-season', 'players.csv'))

### Check Data types

type(players)

pandas.core.frame.DataFrame

In [9]:
players.head()

,name,bats,throws,height,weight,playerID,birthYear,birthMonth,birthDay,birthCity,birthState,birthCountry,debut
0,Jose Abreu,R,R,75.0,255.0,abreujo02,1987,1,29,Cienfuegos,Cienfuegos,Cuba,20140331
1,Ronald Acuna,R,R,72.0,180.0,acunaro01,1997,12,18,La Guaira,Vargas,Venezuela,20180425
2,Willy Adames,R,R,72.0,200.0,adamewi01,1995,9,2,Santiago,Santiago,D.R.,20180522
3,Matt Adams,L,R,75.0,245.0,adamsma01,1988,8,31,Philipsburg,PA,USA,20120520
4,Jim Adduci,L,L,74.0,210.0,adducji02,1985,5,15,Burnaby,BC,CAN,20130901

In [12]:
#################### INSPECT THE DATA ##########

players.dtypes

name             object
bats             object
throws           object
height          float64
weight          float64
playerID         object
birthYear         int64
birthMonth        int64
birthDay          int64
birthCity        object
birthState       object
birthCountry     object
debut             int64
dtype: object

In [13]:
players.columns

Index(['name', 'bats', 'throws', 'height', 'weight', 'playerID', 'birthYear',
       'birthMonth', 'birthDay', 'birthCity', 'birthState', 'birthCountry',
       'debut'],
      dtype='object')

In [14]:
###### This is player information basic, bio info that attaches to a specifica playerID. I assume this will be used as a primary kype to draw relationships

In [16]:
players.shape

(825, 13)

In [17]:
# Look at the shape of the table. (rows, columns). Good way to look at the scope of the file or frame you are looking at

In [23]:
##### Referencing columns

# players['name'].head()
# type(players['name'])

#### Creates a ner dataframe out of a single column?
names = players['name'].to_frame()
# players['name'].to_frame().head()
#type(players['name'].to_frame().head())
names.head()

           name
0    Jose Abreu
1  Ronald Acuna
2  Willy Adames
3    Matt Adams
4    Jim Adduci