In [1]:
#### SETUP

## Depemdemcies

import pandas as pd
from os import path

# Define global variables
DATA_DIR = "C:/Users/Justin/Desktop/ltcwbb-files/data"

atbats = pd.read_csv(path.join(DATA_DIR, '2018-season', 'atbats.csv'))
                         
## Test
atbats.mean()
atbats.max()

C:\Users\Justin\AppData\Local\Temp\ipykernel_15904\1985749426.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  atbats.mean()

name        Zack Cozart
year               2018
stint                 2
team                WAS
lg                   NL
G                   162
AB                  664
R                   129
H                   192
2B                   51
3B                   12
HR                   48
RBI               130.0
SB                 45.0
CS                 14.0
BB                  130
SO                217.0
IBB                25.0
HBP                22.0
SH                 12.0
SF                 11.0
GIDP               23.0
playerID      zuninmi01
dtype: object

In [2]:
### Axis

#atbats[['G', 'AB', 'R', 'H', 'HR']].mean(axis=0)

# Inspect top rows
# bats[['G', 'AB', 'R', 'H', 'HR']].mean(axis=0).head()


atbats['1B'] = atbats['H'] - atbats[['2B', '3B', 'HR']].sum(axis=1)
atbats[['name', '1B']].head()

           name  1B
0    Jose Abreu  73
1  Ronald Acuna  71
2  Willy Adames  63
3    Matt Adams  37
4    Jim Adduci  34

In [4]:
# ### Summart function on boolean columns

pp = pd.read_csv(path.join(DATA_DIR, '100-game-sample', 'pitches.csv'))

pp['fast_4seam'] = (pp['pitch_type'] == 'FF') & (pp['mph'] >= 100)

pp['fast_4seam'].mean()

0.000675310642895732

In [5]:
pp['fast_4seam'].sum()

20

In [6]:
(pp['mph'] >= 104).any()

True

In [7]:
(pp['mph'] >= 60).all()

False

In [8]:
(atbats[['H', 'SO']] > 200).any(axis=1)

0      False
1      False
2      False
3      False
4      False
       ...
523    False
524    False
525    False
526    False
527    False
Length: 528, dtype: bool

In [9]:
(atbats[['H', 'SO']] > 200).any(axis=1).sum()

3

In [10]:
(atbats[['H', 'SO']] > 200).all(axis=1).sum()

0

In [11]:
(atbats[['H', 'SO']] > 150).all(axis=1).sum()

6

In [16]:
# Other misc built-in summary functions
# pp['pitch_type'].value_counts()

# pp['pitch_type'].value_counts(normalize=True)

pd.crosstab(pp['i'], pp['pitch_type']).head(9)

pitch_type   CH   CU  EP   FC    FF  FO  FS   FT  KC  PO   SI   SL
i
1           332  269   0  200  1431   0  38  451  76   0  209  473
2           348  319   0  171  1191   0  37  373  84   0  205  500
3           423  324   1  206  1115   0  28  363  76   4  178  545
4           425  285   4  200  1067   0  33  414  89   1  156  549
5           406  320   6  202  1046   0  40  366  67   2  229  570
6           346  297   3  148  1129   0  44  344  68   0  294  697
7           282  219   1  205  1153   3  76  214  56   2  444  669
8           274  275   0  211  1313   0  51  234  56   0  261  650
9           223  136   0  204  1009   0  31  171  74   2  244  406